@charset "UTF-8";
* {
  font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif; }

/*头部header--start*/
.header {
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1.17333rem;
  border-bottom: 0.01333rem solid #0C8EFE;
  align-items: center;
  background-color: #0093FF;
  color: white; }

.header i {
  position: absolute;
  left: 0.24rem;
  font-size: 0.48rem;
  height: 0.53333rem; }

.header span {
  height: 0.53333rem;
  font-size: 0.53333rem;
  font-weight: 700; }

/*头部header--end*/
/*firstsection--start*/
.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.93333rem;
  padding-top: 1.17333rem;
  color: white;
  font-weight: 700;
  background-color: #0093FF; }

.first-section .center {
  display: flex;
  justify-content: space-between;
  width: 9.33333rem;
  height: 1.6rem; }

.first-section .center .item:nth-child(1) {
  display: flex; }

.first-section .center .item:nth-child(1) span:nth-child(1) {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: white; }

.first-section .center .item:nth-child(1) span:nth-child(2) {
  margin-left: 0.4rem; }

.first-section .center .item:nth-child(1) span:nth-child(2) p {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.6rem;
  font-weight: 700; }

.first-section .center .item:nth-child(1) span:nth-child(2) i {
  font-size: 0.32rem;
  font-weight: 400; }

.first-section .center .item:nth-child(2) {
  line-height: 1.6rem; }

.first-section .center .item:nth-child(2) i {
  font-size: 0.4rem; }

/*firstsection--end*/
/*secondsection--start*/
.second-section {
  display: flex;
  height: 2.21333rem; }

.second-section .item {
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center; }

.second-section .item span:nth-child(1) {
  width: 0.69333rem;
  height: 0.69333rem;
  border-radius: 50%;
  line-height: 0.69333rem; }

.second-section .item span .icon-hongbao {
  color: white;
  font-size: 0.69333rem;
  border-radius: 50%;
  background-color: #FF5F3E; }

.second-section .item span .icon-jinbi {
  color: white;
  font-size: 0.69333rem;
  border-radius: 50%;
  background-color: #6AC20B; }

.second-section .item span:nth-child(2) {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #666;
  font-size: 0.32rem;
  font-weight: 700; }

.second-section .item:first-child {
  border-right: 0.01333rem solid #ddd; }

/*secondsection--end*/
/*zhanwei--start*/
.space {
  height: 0.4rem;
  background-color: #f5f5f5; }

/*zhanwei--end*/
/*thirdsection--start*/
.thirdsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.17333rem;
  padding-left: 0.30667rem;
  padding-right: 0.26667rem;
  font-size: 0.42667rem;
  color: #333; }

.thirdsection div i {
  font-size: 0.4rem;
  color: #4AA5F0; }

.thirdsection i {
  font-size: 0.4rem; }

.thirdsection .icon-5gouwudai {
  background-color: #94D94A; }

.zhanweisecond {
  height: 3.2rem;
  background-color: #f5f5f5; }

/*thirdsection--end*/

/*# sourceMappingURL=my.css.map */
