@function torem($px) {
    @return $px / 108px * 1rem;
}

body{
	background: #fafafa;
}
/*顶部 start*/
header{
	display: flex;
	height: torem(126px);
	line-height: torem(126px);
	background: #009eff;
	color: #fff;
}
header i{
	margin-left: torem(20px);
}
header h3{
	font-size: torem(50px);
	font-weight: bold;
	margin-left: torem(40px);
}
header .method{
	margin-right: torem(40px);
	font-size: torem(50px);
	font-weight: bold;
}
header a{
	color: #fff;
	margin-left: torem(600px);
}
/*顶部 end*/
/*表单 start*/
form{
	margin-top: torem(40px);
	padding: 0 torem(30px);
}
form .login-phone{
	padding:0 torem(36px);
	height: torem(140px);
	background-color: #fff;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: torem(5px); 
}
form .login-phone input{
	height: 100%;
	width: torem(550px);
	border: none;
	font-size: torem(50px);
	text-indent: torem(30px);
}
form .login-phone button{
	float: right;
	width: torem(300px);
	height: torem(120px);
	background-color: #d3d8cf;
	border: none;
	font-size: torem(46px);
	color: #fff;
	font-weight: bold;
	margin-top: torem(10px);
}
form .login-text{
	padding: torem(44px) torem(36px);
	line-height: torem(60px);
	color: #6f6f6f;
}

form .login-text a{
	color: #0e84ba;
}
form .login-sub{
	padding: torem(26px);
}
form .login-sub .submit{
	height: torem(144px);
	background-color: #48c25a;
	width: 100%;
	font-size: torem(50px);
	color: #fff;
	font-weight: bold;
}
/*表单 end*/
/*底部 start*/
footer{
	position: absolute;
	bottom: 0;
	height: torem(320px);
	width: 100%;
	padding: torem(70px) 0;
}

footer section{
	position: relative;
	width: torem(370px);
	height: torem(2px);
	background-color: #cbcbcb;
	margin: 0 auto;
	text-align: center;
}

footer section .line-text{
	position: absolute;
	top: torem(-24px);
	left: 50%;
	margin-left: torem(-120px);
	width: torem(240px);
	height: torem(50px);
	line-height: torem(50px);
	background-color: #fff;
	color: #989898;
}
footer ul{
	display: flex;
	justify-content: space-around;
	padding-top: torem(50px);
}
footer ul li{
	width: torem(150px);
	text-align: center;
}
footer ul li img{
	width: torem(150px);
}
footer ul li p{
	color: #979797;
	margin-top: torem(30px);
}
/*底部 end*/